<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="mat-display-3">
    Puppy Love @HEC Paris!
    <h4 class="mat-headline"> Code by Programming Club IIT Kanpur </h4>
    <h4 class="mat-headline"> Site Start Date: 10 Feb 2021 </h4>
    <h4 class="mat-headline"> Result Date: 14 Feb 2021 </h4>
   <!-- <p class="mat-headline"> in association with </p> -->
    <!-- <img src="/assets/image.png" alt="In association with techkriti" style="width:237px;height:84px;"> -->
  </h1>
</div>

<router-outlet></router-outlet>
